* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}


.header {
width: 550px;
height: 65px;
background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
display: flex;
align-items: center;
color: white;
position: relative;

}

.header-img {
  width: 31.31px;
  height: 26.22px;
  margin-left: 20px;
  margin-right: 5px;

}

.header-title {
  font-weight: bold;
  font-size: 20.7482px;
  line-height: 24px;
  justify-content: flex-start;
}

.header-info {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-right: 37px;
  display: flex;
  text-align: right;
  position: absolute;
  right: 0;

}